<script setup lang="ts">
import { mdiSchool } from '@mdi/js';
import { mdiAccountCircle } from '@mdi/js';
import { mdiBookshelf } from '@mdi/js';

</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <!-- <v-avatar>
      <v-img
      src="https://lh3.googleusercontent.com/a/AGNmyxaRTiYc6RslHAWbAR_MpcIQDdMWVIdZrbYZE26x=s576-c-no">
      </v-img>
    </v-avatar> -->
        <v-img :width="350"
          src="https://lh3.googleusercontent.com/a/AGNmyxaRTiYc6RslHAWbAR_MpcIQDdMWVIdZrbYZE26x=s576-c-no"></v-img>
        <v-table>
          <thead>
            <tr>
              <th class="text-left"><v-icon :icon="mdiAccountCircle"></v-icon>
                65160156
              </th>
              <th class="text-left">
                MR.CHAIYAPORN KAEWSUMA
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> Informatics-BUU</td>
              <td>Computer Seience </td>

            </tr>
            <tr>
              <td><v-icon :icon="mdiSchool" /> Education</td>
              <td>จบจากโรงเรียนแสนสุข จ.ชลบุรี
                <div>GPA 3.53</div>
                <!-- <td>ปัจจุบันศึกษาที่มหาวิทยาลัยบูรพา</td>
          <div>คณะวิทยาการสารสนเทศ</div>
          <div>สาขาวิทยาการคอมพิวเตอร์</div> -->
              </td>
            </tr>
            <tr>
              <td><v-icon :icon="mdiBookshelf"></v-icon> สิ่งที่สนใจ</td>
              <td>
                <div>กีฬาและการออกกำลังกาย</div>
                <div>การเขียนโปรแกรม</div>
                <div>การทำงานและระบบของคอมพิวเตอร์</div>
                <div>การประดิษฐ์สิ่งของ</div>
                <div>การทดลองและสร้างสิ่งใหม่ๆ</div>
                <div>โลกและอนาคต</div>
              </td>
            </tr>
            <td><v-img :width="150" aspect-ratio="16/9" cover
                src="https://www.informatics.buu.ac.th/2020/wp-content/uploads/2018/07/NormalView.jpg"></v-img>
              <!-- <v-img src="https://www.informatics.buu.ac.th/2020/wp-content/uploads/2022/01/Blue-informatics.png"></v-img> -->
              <!-- <v-img src="https://www.informatics.buu.ac.th/2020/wp-content/uploads/2018/07/NormalView.jpg"></v-img> -->
            </td>
            <td><v-img
                src="https://www.informatics.buu.ac.th/2020/wp-content/uploads/2022/01/Blue-informatics.png"></v-img></td>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>