<script setup lang="ts">
import FrameworkPop from '@/components/FrameworkPop.vue';
import { computed } from 'vue';
const FrameList = [
  {
    name: "VueJS", 
    img: "https://avatars.githubusercontent.com/u/6128107?s=200&v=4" ,
    rating: 10
  },
  {
    name: "AngularJS", 
    img: "https://material.angularjs.org/latest/img/logo.svg" ,
    rating: 20
  },
  {
    name: "ReactJS", 
    img: "https://www.datocms-assets.com/45470/1631110818-logo-react-js.png?fm=webp" ,
    rating: 14
  }
]
function changeRating(index:number, rating:number){
  console.log("action" + index + ":"+ rating)
  // FrameList.value[index].rating = rating
}
// const orderList = computed(()=>{
//   return [FrameList.value].sort((n1, n2)=> n2.rating-n1.rating)
// })
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of FrameList" :key="index">
        <FrameworkPop 
        :name="item.name" 
        :img="item.img" 
        :rating="item.rating"
        :index="index"
        @change="changeRating"
        ></FrameworkPop>
      </v-col>
    </v-row>
    <v-row class="justify-center">
      <v-col cols="6">
        <v-table>
    <thead>
      <tr>
        <th>
          order
        </th>
        <th>
          name
        </th>
        <th>
          rating
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="(item, index ) of FrameList"
        :key="index"
      >
        <td>{{ index + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.rating }}</td>
      </tr>
    </tbody>
  </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>