<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn :prepend-icon="theme === 'light' ? 'mdi-weather-sunny' : 'mdi-weather-night'" @click="onClick"
      >Toggle Theme</v-btn>
    </v-app-bar>
    <v-navigation-drawer
        expand-on-hover
        rail
      >
        <v-list>
          <v-list-item
            prepend-avatar="https://lh3.googleusercontent.com/a/AGNmyxaRTiYc6RslHAWbAR_MpcIQDdMWVIdZrbYZE26x=s576-c-no"
            title="Chaiyaporn Kaewsuma"
            subtitle="65160156@go.buu.ac.th"
          ></v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list density="compact" nav>
          <v-list-item :prepend-icon="mdiFolder" title="My Files" value="myfiles" to="/my-files-view"></v-list-item>
          <v-list-item :prepend-icon="mdiAccountMultiple" title="My Profile" value="myprofile" to="/my-profile"></v-list-item>
          <v-list-item :prepend-icon="mdiStar" title="Starred" value="starred" to="/starred"></v-list-item>
        </v-list>
      </v-navigation-drawer>
    <v-main>
      <router-view></router-view>

    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { ref } from "vue";
import {
  mdiFolder,
  mdiAccountMultiple,
  mdiStar,
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiCursorPointer,
  mdiVuetify,
  mdiCheckboxMarkedCircle
} from "@mdi/js"
const theme = ref('light')

function onClick() {
  theme.value = theme.value === 'light' ? 'dark' : 'light'
}
</script>